---
layout: page
title: Welcome
search_omit: true
---

The Physics Student Association (PSA) represents the Physics and Engineering students at the University of the Fraser Valley (UFV), in Abbotsford, British Columbia. We exist to serve the students of UFV by augmenting the existing instruction provided through presentations, tours, and social events.

<figure class="third">
	<a href="/flagshipevents/"><img src="/images/flagshipthumb.jpg" alt=""></a>
	<a href="http://placehold.it/1200x600.jpg"><img src="/images/AcademicThumb.jpg" alt=""></a>
	<a href="http://placehold.it/1200x600.jpg"><img src="http://placehold.it/600x300.jpg" alt=""></a>
	<figcaption>Caption describing these three images.</figcaption>
</figure>

<p></p>
<p></p>

<ul class="post-list">
{% for post in site.posts limit:10 %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>
