---
layout: page
title: Welcome
search_omit: true
---

The Physics Student Association (PSA) represents the Physics and Engineering students at the University of the Fraser Valley (UFV), in Abbotsford, British Columbia. We exist to serve the students of UFV by augmenting the existing instruction provided through presentations, tours, and social events.

<p></p>
<p></p>

<figure class="third">
	<a href="/flagshipevents/"><img src="/images/flagshipthumb.jpg" alt=""></a>
	<a href="/tags/#academic"><img src="/images/AcademicThumb.jpg" alt=""></a>
	<a href="/tags/#social"><img src="/images/SocialThumb.jpg" alt=""></a>
	
</figure>

<p></p>
<p></p>

<ul class="post-list">
{% for post in site.posts limit:10 %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} {% if post.date %}<span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% endif %}{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
     
     ga('create', 'UA-84824114-1', 'auto');
     ga('send', 'pageview');
     
</script>
